#gameContainer {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

#colorBox {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
}

#options button {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#newGuessButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

@media (max-width: 600px) {
    #colorBox {
        width: 250px;
        height: 250px;
    }

    #options button {
        width: 100px;
        height: 100px;
    }
}
